<div style="float:left;">
  <a href="https://px.a8.net/svt/ejp?a8mat=2TIH2O+C6720I+3HRI+HYNBL" target="_blank" rel="nofollow">
  <img border="0" width="300" height="250" alt="" src="https://www25.a8.net/svt/bgt?aid=170503152736&wid=001&eno=01&mid=s00000016299003017000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TIH2O+C6720I+3HRI+HYNBL" alt="">
</div>
<div style="float:left;">
  <a href="https://px.a8.net/svt/ejp?a8mat=2TIH2O+BUVTIQ+3GOM+60H7L" target="_blank" rel="nofollow">
  <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=170503152717&wid=001&eno=01&mid=s00000016159001010000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TIH2O+BUVTIQ+3GOM+60H7L" alt="">
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- watarusuzukiレスポンシブ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1839455518450571"
     data-ad-slot="8656353844"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
