{% comment %}
Determine an image and its shape for the page.
{% endcomment %}

{% if page.title == "Home" %}
  {% assign image_url = "/images/masatoshi_portrait_300.png" %}
  {% assign clip      = "clip-right-point" %}
{% elsif page.title == "About" %}
  {% assign image_url = "/images/masatoshi_chinatown_300.png" %}
  {% assign clip      = "clip-shogi" %}
{% elsif page.title == "Blog" %}
  {% assign image_url = "/images/mount_fuji_300_150.png" %}
  {% assign clip      = "clip-message" %}
{% else %}
  {% assign image_url = "/images/logo_200.png" %}
  {% assign clip      = "clip-circle" %}
{% endif %}

{% comment %}
Determine an image and its shape based on page title.
{% endcomment %}

{% if page.id or page.url contains "tags" %}
  <style>
    /* Reduce height for blog posts and tags */
    .large-header,
    #hero-canvas {
      height: 250px;
      min-height: 250px;
    }
  </style>
{% endif %}

<div id="logo-wrapper">
  <a href="{{ site.baseurl }}/" title="Home" id="logo">
    <svg
      id="logo-svg"
      class="line-drawing"
      xmlns="http://www.w3.org/2000/svg">
      <path class="darker" d="M 80.889194,41.80541 C 80.889194,63.45198 63.341174,81 41.694594,81 20.048024,81 2.5,63.45198 2.5,41.80541 2.5,20.158827 20.048024,2.61081 41.694594,2.61081 c 21.64658,0 39.1946,17.548017 39.1946,39.1946 z" />
    </svg>
    <div
      data-svg="logo-svg"
      class="logo hide"
      style='background: url("{{site.baseurl}}/images/logo_80_white.png");'>
    </div>
  </a>
</div>

<header class="large-header">

  <canvas id="hero-canvas"></canvas>

  <div class="hero-content">

    {% if page.title == "Home"
       or page.title == "About"
       or page.title == "Blog"
       or page.title == "Projects" %}
      <a
        data-scroll
        href="#scroll-to"
        class="{{ clip }} clip-wrapper page-scroll">
        <img
          src="{{ image_url | prepend: site.baseurl }}"
          alt="Masatoshi Nishiguchi"
          class="{{ clip }} clip-inner">
      </a>
    {% endif %}

    {% if page.title == "Home" %}
      <h1 class="intro-title">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <small class="tagline">{{ site.tagline }}</small>
      </h1>

    {% elsif page.id %}
      <h1 class="intro-title">{{ page.title }}</h1>
      <span class="post-meta">
        {% include post_date.html %}
      </span>

    {% elsif paginator %}
      <h1 class="intro-title">{{ page.title }}</h1>

    {% else %}
      <h1 class="intro-title">{{ page.title }}</h1>
    {% endif %}
  </div>
</header>

<div id="sticky-spacer"></div>

<div id="sticky" class="scroll-control">
  <a
    data-scroll
    href="#scroll-to" >
    <div
      id="rotating-icon"
      class="cbutton cbutton--effect-radomir btn-scroll">
      <i class="cbutton__icon fa fa-angle-down fa-fw"></i>
    </div>
  </a>
  <div id="scroll-to"></div>
</div>
