<!--
Comments are inserted only in pages that specify "comments: true" explicitly.
 -->
{% if page.comments %}
  <!-- Add Disqus comments. -->
  <div id="disqus_thread"></div>
  <script>
  /**
   * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
   */
  document.addEventListener( "DOMContentLoaded", function() {

    var disqus_config = function () {
      var disqus_shortname  = 'mnishiguchi';
      var disqus_identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}";  // Use Canonical URL
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//mnishiguchi.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  });
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
