<nav class="pagination" role="navigation">
  {% assign older = "<< Older Entries" %}
  {% assign newer = "Newer Entries >>" %}

  {% if paginator.next_page %}
    <a
      class="pagination-item older"
      href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      {{ older }}
    </a>
  {% else %}
    <span class="pagination-item older">{{ older }}</span>
  {% endif %}

  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.previous_page %}
    <a
      class="pagination-item newer"
      href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      {{ newer }}
    </a>
  {% else %}
    <span class="pagination-item newer">{{ newer }}</span>
  {% endif %}
</nav>
