---
layout: page
title: Blog
# I place /blog/index.html in the root directory so that I can use paginator for the Blog page.
---

<div class="page-blog">
  <div class="posts" id="posts">
    <input class="search" placeholder="Search" />

    <div class="list">
      {% for post in site.posts %}
        <article class="post">
          <h2 class="post-title h3">
            <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h2>

          <span class="post-meta">
            {% include post_date.html %}
            {% include post_tags.html %}
          </span>

{% comment %}
          <!-- <p>
            {{ post.excerpt | strip_html | append: "..." }}
            {% if post.excerpt != post.content %}
              <a href="{{ post.url | prepend: site.baseurl }}"> >></a>
            {% endif %}
          </p> -->
{% endcomment %}

        </article>
        <hr>
      {% endfor %}
    </div>

  </div>
</div>

{% include tag_cloud.html %}

<script>
// Initialize List.js when DOM is loaded.
document.addEventListener("DOMContentLoaded", function() {
  var options = {
    valueNames: [ 'post-title', 'post-meta' ]
  };

  var userList = new List('posts', options);
})
</script>
